#precisamos da barra para indicar que é pasta e não arquivo
obj/
lib/

#Para ignorar nossos arquivos banco de dados
*.bin

#Qualquer arquivo .exe
*.exe

#para ignorar o executáel no Linux
program

#para ignorar nosso banco.db
*.db

#para ignora coisas do netbeans
nbproject/
